hr{
    background-color: none;
    border-style: none;
    border-color: grey;
    border-top: dotted 3px;
    border-width: 5px   ;
    height: 2px;
    width: 7%;
}

h1, h3{
    color: #66BFBF;
}


body {
    background-color: #EAF6F6;
}
